@page
@using Microsoft.AspNetCore.Antiforgery
@using hakimslivs.Models
@model hakimslivs.Pages.CartModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Varukorgen";
}
<script src="~/js/cart.js"></script>
<div class="row d-flex justify-content-center my-4">
    <div class="col-md-8">
        <div class="card mb-4">
            <div class="card-header py-3">
                <div class="cart-btns-header">
                    <h5 class="mb-0">@ViewData["Title"] </h5>
                    <div class="cart-btns">
                        <button id="btnLoad" class="btn" alt="Uppdatera Varukorgen" onclick ="LoadCart()"><i class="fa fa-solid fa-arrows-rotate"></i></button>
                        <button id="btnEmpty" class="btn" alt="Töm Varukorgen" onclick ="EmptyCart()"><i class="fa fa-trash"></i></i></button>
                    </div>
                </div>
                
            </div>
            <template>
                <div class="card-body">
                    <!-- Single item -->
                <div class="row">
                        <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                            <!-- Image -->
                        <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                                <img id="imageURL" src="" class="w-100" alt="" />
                                <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                </a>
                            </div>
                            <!-- Image -->
                    </div>

                        <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                            <!-- Data -->
                        <h4><strong id="product"></strong></h4>
                            <p id="description" class="na"></p>

                            <button type="button" class="remove-from-cart btn btn-danger btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
                                title="Remove item">
                                <i class="fa fa-trash"></i>
                            </button>
                            <!-- Data -->
                    </div>

                        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                            <!-- Quantity -->
                        <div class="d-flex mb-4" style="max-width: 300px">
                                <button class="minus btn btn-primary px-3 me-2">
                                    <i class="fas fa-minus"></i>
                                </button>

                                <div class="form-outline">
                                    <input readonly min="1" name="quantity" value="1" type="number" class="form1 form-control" />
                                </div>

                                <button class="plus btn btn-primary px-3 ms-2">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                            <!-- Quantity -->
                            <!-- Price -->
                        <p class="text-start text-md-center">
                                <p class="text-center unitPrice"></p>
                                <h4 class="text-center"><strong class="totalUnitPrice"></strong><span><strong>kr</strong></span></h4>
                            </p>
                            <!-- Price -->
                    </div>
                    </div>
                    <!-- Single item -->

                <hr class="my-4" />
                </div>
                </template>
            <div id="allItems">
            </div>

        </div>

    </div>
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header py-3">
                <h5 class="mb-0">Order</h5>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                        Summa varor
                        <span><label id="totalPrice2"></label><label>kr</label></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                        Antal varor
                        <span><label id="totalAmount"></label><label>st</label></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        Leverans
                        <label id="Delivery">Gratis</label>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                        <div>
                            <strong>Totalsumma</strong>
                        </div>
                        <span><strong><Label id="totalPrice"></Label><label>kr</label></strong></span>
                    </li>
                </ul>

                @if (SignInManager.IsSignedIn(User))
                {
                    <a asp-page="/Checkout" type="button" class="btnBuy btn btn-primary btn-lg btn-block">

                        Beställ
                    </a>
                }
                else
                {
                    <button type="button" class="btnBuy btn btn-primary btn-lg btn-block" disabled="disabled" >

                        Beställ
                    </button>
                    <p class="na text-center">Du måste vara inloggad för att beställa</p>
                }
                
                

            </div>
            <div class="text-center">
                <a asp-page="./Index">Tillbaka till Shoppingen</a>
            </div>
            
        </div>
    </div>
</div>
