<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hakims Livs</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        @if (User.Identity.IsAuthenticated)
        {
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <div>Admin Panel</div>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        @if (User.Identity.IsAuthenticated)
                            {
                                @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                                {
                                    <a class="nav-link" asp-area="" asp-page="/Admin/RoleManager/Index">Role Manager</a>
                                    <a class="nav-link" asp-area="" asp-page="/Admin/UserRoles/Index">User Roles</a>
                                }
                            }
                    </div>
                </div>
            </nav>
        }
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">hakimslivs</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                            {
                            }
                            else if (User.IsInRole("Basic"))
                            {
                                <a class="nav-link" asp-area="" asp-page="">Basic Role</a>
                            }
                        }
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">

            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">   
                            <a class="nav-link text-dark" asp-area="" asp-page="">Skafferi</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="">Träning &amp; vikt</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="">Snacks &amp; godis</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="">Drycker</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="">Bröd, kex &amp; kakor</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="">Hygien &amp; apotek</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="">Barn &amp; baby</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="">Hem &amp; städ</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="">Husdjur</a>
                        </ul>
            <div class="d-flex align-content-center">
                <main role="main" class="pb-6">
                    @RenderBody()
                </main>
            </div>
    </div>

    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - hakimslivs - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
