@using Microsoft.AspNetCore.Identity
@using hakimslivs.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="btn btn-success my-2 my-sm-0 mr-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><span class="bi bi-person-fill"></span> <span class="menu-text">Min Profil</span></a>
            
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
            <button  type="submit" class="btn btn-danger my-2 my-sm-0 mr-2"><span class="bi bi-person-x-fill"> </span><span class="menu-text">Logga Ut</span></button> 
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-outline-primary my-2 my-sm-0 mr-2" role="button"><span class="bi bi-person-fill"> <span class="menu-text"> Logga In / Registrera</span></span></a>
    </li>
}
</ul>