@using Microsoft.AspNetCore.Identity
@using hakimslivs.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="navbar navbar-collapse collapse d-sm-inline-flex justify-content-between col-2">
    <ul class="navbar-nav flex-grow-1">
        <a class="nav-link text-dark" asp-area="" asp-page="">Skafferi</a>
        <a class="nav-link text-dark" asp-area="" asp-page="">Träning &amp; vikt</a>
        <a class="nav-link text-dark" asp-area="" asp-page="">Snacks &amp; godis</a>
        <a class="nav-link text-dark" asp-area="" asp-page="">Drycker</a>
        <a class="nav-link text-dark" asp-area="" asp-page="">Bröd, kex &amp; kakor</a>
        <a class="nav-link text-dark" asp-area="" asp-page="">Hygien &amp; apotek</a>
        <a class="nav-link text-dark" asp-area="" asp-page="">Barn &amp; baby</a>
        <a class="nav-link text-dark" asp-area="" asp-page="">Hem &amp; städ</a>
        <a class="nav-link text-dark" asp-area="" asp-page="">Husdjur</a>
    </ul>
</div>
