/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@900&display=swap');
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color:whitesmoke;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

#logo {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 28px;
    color: #0366d6;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 16px 16px;
}
.card-img {
    object-fit: cover;
    height: 200px;
}
.na {
    font-style: italic;
    color: gray;
}
.box {
    height: 120px;
}
.product-manager-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px 16px;
}
.product-manager {
    padding-bottom: 12px;
}
.form-price {
    display: inline-flex;
}
.form-price .form-group:first-child {
    padding-right: 4px;
}

.fa {
    min-width: 20px;
}
.product-manager-categories {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    margin-left: 24px;
    margin-right: 24px;
    text-align: center;
}
.navbar {
    background-color: white;
}
.menu-text, .side-menu-main {
    display: none;
}
.side-menu {
    padding: 12px;
}
.search-bar {
    display: inline-flex;
    align-items: center;
}

.cart-btns-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-btns button {
    padding: 3px;
}

@media screen and (max-width: 990px) {
    .navbar-collapse {
        padding-right: 0;
        padding-left: 2px;
    }
    .side-menu {
        padding: 6px;
    }
    .side-menu-name {
        font-size: 12px;
    }
}

/*Breaking point for hamburger menu*/
@media screen and (max-width: 575px) {
    .menu-text {
        display: inline;
    }
    .search {
        margin-left: 6px;
    }
    .side-menu-left {
        display: none;
    }
    .side-menu-main {
        display: block;
    }
    .side-menu-main .fa {
        font-size: 18px;
    }
}

@media screen and (max-width: 540px) {
    .category-name {
        display: none;
    }
    .product-manager-categories {
        font-size: 18px;
    }
}